In [1]:
import psycopg2

In [2]:
host = 'summer22data.postgres.database.azure.com'
user = 'student_marius'
password = 'marius'
db_port = 5432
dbname = 'daily_marius'

In [3]:
conn_string = f"host={host} user={user} dbname={dbname} password={password}"
conn = psycopg2.connect(conn_string)
print("Connection established")

Connection established

In [ ]:
# See https://www.psycopg.org/docs/usage.html for usage of psycopg2
# Open a cursor to the database - remember to close this after you have done everything!

cur = conn.cursor()
# If something goes wrong (you get transactionerror)- use the command below
cur.execute("rollback")

In [4]:
# CREATE TABLE USER
cur = conn.cursor()
cur.execute("DROP TABLE IF EXISTS person cascade;")
cur.execute("CREATE TABLE person (id serial PRIMARY KEY, birthdate DATE, first_name varchar, last_name varchar);")
conn.commit()
cur.close()

In [5]:
# POPULATE TABLE USER MULTIPLE ROWS
from psycopg2.extras import execute_values
cur = conn.cursor()
execute_values(cur,
    "INSERT INTO person (birthdate, first_name, last_name) VALUES %s",
    [("1989-01-31", "Reodor", "Felgen"), ("1956-02-02", "Mysil", "Bergsprekken"), ("1997-05-01", "Rudolf", "Blodstrupmoen")])
conn.commit()
cur.close()

In [6]:
# POPULATE SINGLE ROW
cur = conn.cursor()
cur.execute("INSERT INTO person (birthdate, first_name, last_name) VALUES (%s, %s, %s)", ["1995-07-02", "Åsmund", "Brekke"])
conn.commit()
cur.close()

In [7]:
# SELECT FROM TABLE USER
cur = conn.cursor()
cur.execute("rollback") 
cur.execute("SELECT * FROM person;")

for row in cur:
    print(row)

cur.close()

(1, datetime.date(1989, 1, 31), 'Reodor', 'Felgen')
(2, datetime.date(1956, 2, 2), 'Mysil', 'Bergsprekken')
(3, datetime.date(1997, 5, 1), 'Rudolf', 'Blodstrupmoen')
(4, datetime.date(1995, 7, 2), 'Åsmund', 'Brekke')

## Exercises:
1) Write a function that asks the user for name and birthdate, and writes them to the database.

`Hint: You can use the python input() function to ask a user to enter info`

In [8]:
# Code
first_name = "Marius"
last_name = "Dyrseth"
birth_date = "1988-04-11"

cur = conn.cursor()
cur.execute("INSERT INTO person (birthdate, first_name, last_name) VALUES (%s, %s, %s)", [birth_date, first_name, last_name])
conn.commit()
cur.close()

In [3]:
def user_input():
    input1 = input("teskst1")
    input2 = input("teskst2")

    return [input1, input2]

## 2) Write a function that asks the user for a birthdate, and returns every person in the database that has the exact same birthdate (same year, month and day).

In [10]:
cur = conn.cursor()
cur.execute(f"SELECT first_name, last_name from person WHERE birthdate = '{birth_date}';")
for row in cur:
    print(row)
cur.close()

('Marius', 'Dyrseth')

# 3) Using the same input as 2), create a function that returns a count of how many persons that have the same birthday (same month and day).
# Hint: The DATE_PART SQL function might be useful here

In [21]:
cur = conn.cursor()
cur.execute("rollback") 
cur.execute(f"SELECT COUNT(id) from person WHERE birthdate = '{birth_date}';")
for row in cur:
    print(row)
cur.close()

<cursor object at 0x000001F5C535DA80; closed: 0>
(1,)